@font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mukta/v13/iJWKBXyXfDDVXbnBrXw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mukta/v13/iJWHBXyXfDDVXbF6iGmd8WA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --username: 'overthinking ..';

    --background: linear-gradient(30deg, rgba(133, 89, 136, 1) 0%, rgba(107, 73, 132, 1) 18%, rgba(72, 52, 117, 1) 35%, rgba(43, 47, 119, 1) 54%, rgba(20, 24, 82, 1) 73%, rgba(7, 11, 52, 1) 100%);
    --primary: white;
    --secondary: white;
    --transitions: .7s ease-in-out;
    --max-width: 400px;
    --max-height: 250px;
    --positionY: 300px;
    --font-size: 10px;
    --line-thickness: 1px;
    --DP: url(https://i.ibb.co/9wV6WJP/GTA-Ibaraki-Douji.png);
    --DP_size: 60px;
    --border-radius: 10px;

    --media_outer_border: 3px double #F9F9F8;
    --media_inner_border: 3px solid #F9F9F8;
    --media_spin_speed: 15s;
    --media_size: 40px;
    --media_bottom: 15px;
    --media_left: 15px;

    --light: 255, 255, 255, .1;
    --hover: 239, 207, 227, .5;
}

* {
    cursor: url(https://i.ibb.co/LxzS0GM/cursor22.png), default !important;
    font-family: 'Mukta', sans-serif !important;

    /* Do not touch */
    --Credit: 'Coded by Overthink @ GaiaOnline || Gaia Online Profiles @ notion.so';
    box-sizing: border-box !important;

}

body #columns {
    animation: 2s linear 1 animation;
}

@keyframes animation {
    from {
        opacity: 0;
        max-height: 0%;
    }

    to {
        opacity: 1;
        max-height: 100%;
    }
}

html {
    background: url(https://i.ibb.co/BGX0xV1/Under-the-Clouds.png);
    background: var(--background);
    overflow: visible;
}

body {
    background: url(https://i.ibb.co/kxG8j51/Firefly-100s-1084px.png) repeat center;
    animation: 20s sky linear infinite;
    user-select: none;
    -webkit-user-select: none;
    overflow: visible;
}

@keyframes sky {
    100% {
        background-position: 0px 500px;
    }
}

body #gaia_header {
    background: none;
}

#gaia_header ul {

    font-size: 0 !important;
    height: 0 !important;
}

#gaia_header ul .spacer {
    display: none !important;
}

#gaia_header #header_right {
    float: right !important;
}

#gaia_header #header_left,
#gaia_header #header_right {
    --10px: 30px;
    margin: 0 var(--10px) !important;
}

#gaia_header a {
    font-size: 9px;
    font-weight: normal;
    color: var(--primary) !important;
    letter-spacing: 1px;
    line-height: calc(var(--10px) + 40px);
    text-decoration: none;
    padding: 10px;
    background: rgba(var(--light));
    box-shadow: inset 0 0 0 0 rgba(var(--light));
    transition: box-shadow .5s ease-in-out;
}

#gaia_header a:hover {
    box-shadow: inset 0 0 0 100px rgba(var(--hover));
}

#gaia_header img {
    filter: invert(12%);
}

#gaia_header #header_left li:nth-of-type(2) {
    pointer-events: none !important;
}

#columns::before {
    content: var(--username);
    font-size: calc(var(--font-size) + 10px);
    color: var(--primary);
    writing-mode: vertical-rl;
    letter-spacing: 1px;
    position: absolute;
    right: 5px;
    top: 6px;
    transition: var(--transitions);
}

#columns:hover::before {
    right: -50px;
}

#columns::after {
    content: 'rrrrrr';
    box-shadow: 0em 0em 0.5em rgba(var(--hover)), 0 0 0.1em rgba(var(--hover));
    position: absolute;
    height: 100%;
    top: 0;
    left: 100%;

}

#columns {
    position: fixed;
    top: 50%;
    left: 50%;
    border-right: var(--line-thickness) solid var(--primary);
    width: var(--max-width);
    margin-left: calc(0px - var(--max-width));
    margin-top: calc(0px - 50px);
    transition: border-color var(--transitions);
}

#columns:hover {
    border-color: var(--secondary);
}

#column_1,
#column_2,
#column_3 {
    clear: both;
    font-size: 0px;
    margin: 0;
    width: var(--max-width);
}

.panel:not(.media_panel) {
    max-width: var(--max-width);
    max-height: 0;
    overflow: auto;
    left: 100%;
    margin: 0;
    float: right;
    clear: both;
    background: none;
    font-family: 'Sen', sans-serif;
    color: var(--secondary);
    font-size: var(--font-size);
    letter-spacing: 1px;
    transition: max-height var(--transitions), left var(--transitions);
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

.panel:not(.media_panel):hover {
    max-height: var(--max-height);
    left: 0;
}

.panel::-webkit-scrollbar {
    width: 10px
}

.panel::-webkit-scrollbar-track {
    background: transparent
}

.panel::-webkit-scrollbar-thumb {
    background: var(--primary) padding-box;
    border: 2px solid transparent;
}

.panel:not(.media_panel) h2 {
    position: fixed;
    left: 50%;
    margin: -10px 0 0 0px;
    background: none;
    padding: 0 10px;
    font-family: 'Sen', sans-serif;
    color: var(--primary);
    text-transform: none;
    font-size: var(--font-size);
    font-weight: normal;
    transition: var(--transitions);
    letter-spacing: 1px;
}

.panel:not(.media_panel):hover h2 {
    color: var(--secondary);
}

.panel .postcontent {
    line-height: 13px;
}

.panel:not(#id_wishlist, #id_contact) a {
    padding: 0 5px;

}

.panel:not(#id_wishlist, #id_contact) a,
#id_contact ul li a {
    text-decoration: none;
    background: rgba(var(--light));
    color: var(--primary);
    font-weight: normal;
}

.panel:not(#id_wishlist) a:hover {
    opacity: 1;
    background: rgba(var(--hover));
    color: var(--secondary);
}

.panel .user_img {
    max-width: calc(var(--max-width) - 35px);
}

#id_contact ul li {
    display: inline;

}

#id_contact ul li a {
    padding: 5px 10px;
}

#id_about {
    padding-left: calc(var(--DP_size) + 15px);
}

#id_about::before {
    content: '';
    background: var(--DP) no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 17px;
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius);
    height: var(--DP_size);
    width: var(--DP_size);
}

#id_comments {
    overflow-x: hidden;
}

#id_comments h2~p {
    display: none;
}

#alert_container {
    float: right;
}

#alert_container a {
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 0;
}

#alert_container a:before {
    content: '✎';
    font-size: 20px;

}

#id_comments dt {
    border: 0;
    margin-top: 30px;
    text-align: center;
}

#id_comments dt:nth-of-type(1n+2) {
    margin-top: 100px;
}



#id_comments .style1 dd p {
    margin: 0;
    width: 30px;
    font-size: 0;
    background: rgba(var(--light));
    padding: 10px;
    position: absolute;
    right: -20px;
    border-radius: var(--border-radius);
    opacity: 0;
    transition: all .5s;
}

#id_comments .style1 dd:hover p {
    opacity: 1;
    right: 10px;
}

#id_comments .deletecomment a:nth-of-type(1n):after {
    font-size: 9px;
    transition: font-size .3s;
}

#id_comments .deletecomment a:nth-of-type(1n):hover:after {
    font-size: 15px;
}

#id_comments .deletecomment a:nth-of-type(1):after {
    content: '✕';
}

#id_comments .deletecomment a:nth-of-type(2):after {
    content: '✎';
}

#id_comments .postcontent {
    border-left: 1px dotted white;
    border-radius: 20px 0 0 20px;
    margin-left: 17px;
    padding-left: 25px;
}

#id_comments .dropBox {
    background: rgba(var(--light));
    width: 35px;
    height: 35px;
    border: 1px dotted white;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#id_comments .dropBox img {
    width: 60px;
    height: 75px;
    margin: -10px 0 0 -17px;
}

#id_comments .postcontent img {
    max-width: 300px;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: var(--border-radius);
}

#id_comments iframe,
.custom_panel iframe {
    max-height: 100px;
    max-width: 180px;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: var(--border-radius);
}


#avatar_menu {
    background: rgba(var(--light));
    border: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    padding: 5px;
    transition: var(--transitions);
    margin-top: -175px;
    margin-left: -95px;
    border-radius: 0px 30px 0px 30px;
}

#avatar_menu:hover {
    border-radius: 30px 0px 30px 0px;
}

#avatar_menu a {
    color: var(--secondary);
    font-size: var(--font-size);
    text-align: center;
    transition: .2s ease-in-out;
    line-height: 7px;
    border: 3px solid transparent;
    box-shadow: inset 50px 0 0 0 rgba(var(--light));
    transition: .3s ease-in-out;
}

#avatar_menu a:hover {
    background: none;
    letter-spacing: 1px;
    box-shadow: inset 100px 0 0 0 rgba(var(--hover));
}

#id_details .pushBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 20px;
    line-height: 20px;
    background: rgba(var(--light));
    border-radius: 0px 30px 0px 30px;
    transition: border-radius .3s;
}

#id_details .pushBox:hover {
    border-radius: 0px 50px 0px 0px;

}

#id_details .pushBox::after {
    content: 'Menu';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 12px;
}


#id_details .statuslinks span {
    position: absolute;
    top: 0px;
    left: 100%;
    margin-left: -20px;
    margin-top: 25px;
    transform-origin: 0 0;
    transform: rotate(90deg);

}

#id_details .forum_userstatus,
#id_details .statuslinks,
.forum_userstatus .statuslinks span.offline,
.forum_userstatus .statuslinks span.online {
    background: none;
    border: 0;
}

.forum_userstatus .statuslinks span.online,
.forum_userstatus .statuslinks span.offline {
    animation: pulse 1s alternate-reverse infinite;
    color: white;
    font-size: 25px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    height: 100px;
}

#id_details .forum_userstatus~p {
    background: rgba(var(--light));
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;

}

#id_details .forum_userstatus~p strong {
    font-weight: normal;
}

#id_details .forum_userstatus~p:nth-last-child(1) {
    border-bottom: 0;
}

#id_wishlist,
#id_equipment {
    font-size: 0;
}

#id_wishlist .item,
#id_equipment .item {
    width: 35px;
    margin: 8px;

}

#id_wishlist .item a,
#id_equipment .item a {
    display: inline-block;
    width: 100%;
    max-height: 35px;
    text-align: center;
    border-radius: var(--border-radius);
    background: rgba(var(--light)) !important;
    border: 1px solid transparent;
}

#id_wishlist .item a:hover,
#id_equipment .item a:hover {
    border-color: white;

}

.panel img {
    opacity: .8;
    transition: .3s;
}

.panel img:hover {
    opacity: 1;
}

#id_wishlist a[title*='Bought'] {
    opacity: .3;
    pointer-events: none;
}

#id_wishlist .owner_checkmark {
    display: none;
}

.media_panel h2 {
    display: none;
}

@keyframes media_spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.media_panel {
    background: none;
    position: fixed;
    bottom: var(--media_bottom);
    left: var(--media_left);
    padding: 2px;
    margin: 0;
    border-radius: 100%;
    border: var(--media_outer_border);
    border-top-color: transparent;
    border-bottom-color: transparent;
    transition: border-width .1s;
    animation: linear media_spin var(--media_spin_speed) infinite;
    box-shadow: 0em 0em 1em rgba(var(--hover)), 0 0 1em rgba(var(--hover));

}

.media_panel:hover {
    border-width: 0px;
}

.media_panel iframe {
    max-height: var(--media_size);
    max-width: var(--media_size);
    border-radius: 100%;
    border: var(--media_inner_border);
}

.quote {
    background: none;
    border: 0;
    padding: 0 10px;
    color: #fff;
    background: rgba(var(--light));
    border-radius: var(--border-radius);
}

.quoted {
    background: none !important;
    border: 1px solid white;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 20px;
}

.menu_seperator,
.premium_sparkle,
#id_comments #alerts_banner {
    display: none;
}