[data-theme="amethyst-haze"] {
    --background: oklch(0.2166 0.0215 292.8474);
    --foreground: oklch(0.9053 0.0245 293.5570);
    --card: oklch(0.2544 0.0301 292.7315);
    --card-foreground: oklch(0.9053 0.0245 293.5570);
    --popover: oklch(0.2544 0.0301 292.7315);
    --popover-foreground: oklch(0.9053 0.0245 293.5570);
    --primary: oklch(0.7058 0.0777 302.0489);
    --primary-foreground: oklch(0.2166 0.0215 292.8474);
    --secondary: oklch(0.4604 0.0472 295.5578);
    --secondary-foreground: oklch(0.9053 0.0245 293.5570);
    --muted: oklch(0.2560 0.0320 294.8380);
    --muted-foreground: oklch(0.6974 0.0282 300.0614);
    --accent: oklch(0.3181 0.0321 308.6149);
    --accent-foreground: oklch(0.8391 0.0692 2.6681);
    --destructive: oklch(0.6875 0.1420 21.4566);
    --border: oklch(0.3063 0.0359 293.3367);
    --input: oklch(0.2847 0.0346 291.2726);
    --ring: oklch(0.7058 0.0777 302.0489);
    --chart-1: oklch(0.7058 0.0777 302.0489);
    --chart-2: oklch(0.8391 0.0692 2.6681);
    --chart-3: oklch(0.7321 0.0749 169.8670);
    --chart-4: oklch(0.8540 0.0882 76.8292);
    --chart-5: oklch(0.7857 0.0645 258.0839);
    --sidebar: oklch(0.1985 0.0200 293.6639);
    --sidebar-foreground: oklch(0.9053 0.0245 293.5570);
    --sidebar-primary: oklch(0.7058 0.0777 302.0489);
    --sidebar-primary-foreground: oklch(0.2166 0.0215 292.8474);
    --sidebar-accent: oklch(0.3181 0.0321 308.6149);
    --sidebar-accent-foreground: oklch(0.8391 0.0692 2.6681);
    --sidebar-border: oklch(0.2847 0.0346 291.2726);
    --sidebar-ring: oklch(0.7058 0.0777 302.0489);
    --radius: 0.5rem;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.06;
    --shadow-blur: 5px;
    --shadow-spread: 1px;
    --shadow-offset-x: 1px;
    --shadow-offset-y: 2px;
    --spacing: 0.25rem
  }