 [data-theme="caffeine-light"] {
    --background: oklch(0.9821 0 0);
    --foreground: oklch(0.2435 0 0);
    --card: oklch(0.9911 0 0);
    --card-foreground: oklch(0.2435 0 0);
    --popover: oklch(0.9911 0 0);
    --popover-foreground: oklch(0.2435 0 0);
    --primary: oklch(0.4341 0.0392 41.9938);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9200 0.0651 74.3695);
    --secondary-foreground: oklch(0.3499 0.0685 40.8288);
    --muted: oklch(0.9521 0 0);
    --muted-foreground: oklch(0.5032 0 0);
    --accent: oklch(0.9310 0 0);
    --accent-foreground: oklch(0.2435 0 0);
    --destructive: oklch(0.6271 0.1936 33.3390);
    --border: oklch(0.8822 0 0);
    --input: oklch(0.8822 0 0);
    --ring: oklch(0.4341 0.0392 41.9938);
    --chart-1: oklch(48.318% 0.08494 63.239);
    --chart-2: oklch(0.3163 0.0190 63.6992);
    --chart-3: oklch(0.2850 0 0);
    --chart-4: oklch(0.3481 0.0219 67.0001);
    --chart-5: oklch(64.72% 0.07017 66.032);
    --sidebar: oklch(0.9881 0 0);
    --sidebar-foreground: oklch(0.2645 0 0);
    --sidebar-primary: oklch(0.3250 0 0);
    --sidebar-primary-foreground: oklch(0.9881 0 0);
    --sidebar-accent: oklch(0.9761 0 0);
    --sidebar-accent-foreground: oklch(0.3250 0 0);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0.7731 0 0);
    --radius: 0.5rem;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.10;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 1px;
    --spacing: 0.25rem
  }