[data-theme="caffeine"] {
    --background: oklch(0.1776 0 0);
    --foreground: oklch(0.9491 0 0);
    --card: oklch(0.2134 0 0);
    --card-foreground: oklch(0.9491 0 0);
    --popover: oklch(0.2134 0 0);
    --popover-foreground: oklch(0.9491 0 0);
    --primary: oklch(0.9247 0.0524 66.1732);
    --primary-foreground: oklch(0.2029 0.0240 200.1962);
    --secondary: oklch(0.3163 0.0190 63.6992);
    --secondary-foreground: oklch(0.9247 0.0524 66.1732);
    --muted: oklch(0.2520 0 0);
    --muted-foreground: oklch(0.7699 0 0);
    --accent: oklch(0.2850 0 0);
    --accent-foreground: oklch(0.9491 0 0);
    --destructive: oklch(0.6271 0.1936 33.3390);
    --border: oklch(0.2351 0.0115 91.7467);
    --input: oklch(0.4017 0 0);
    --ring: oklch(0.9247 0.0524 66.1732);
    --chart-1: oklch(0.9247 0.0524 66.1732);
    --chart-2: oklch(64.15% 0.04477 62.09);
    --chart-3: oklch(64.606% 0.07454 62.357);
    --chart-4: oklch(84.234% 0.10878 61.452);
    --chart-5: oklch(0.9245 0.0533 67.0855);
    --sidebar: oklch(0.2103 0.0059 285.8852);
    --sidebar-foreground: oklch(0.9674 0.0013 286.3752);
    --sidebar-primary: oklch(0.4882 0.2172 264.3763);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.2739 0.0055 286.0326);
    --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
    --sidebar-border: oklch(0.2739 0.0055 286.0326);
    --sidebar-ring: oklch(0.8711 0.0055 286.2860);
    --radius: 0.5rem;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.10;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 1px;
    --spacing: 0.25rem
  }