[data-theme="catppuccin"] {
    --background: oklch(0.2155 0.0254 284.0647);
    --foreground: oklch(0.8787 0.0426 272.2767);
    --card: oklch(0.2429 0.0304 283.9110);
    --card-foreground: oklch(0.8787 0.0426 272.2767);
    --popover: oklch(0.4037 0.0320 280.1520);
    --popover-foreground: oklch(0.8787 0.0426 272.2767);
    --primary: oklch(0.7871 0.1187 304.7693);
    --primary-foreground: oklch(0.2429 0.0304 283.9110);
    --secondary: oklch(0.4765 0.0340 278.6430);
    --secondary-foreground: oklch(0.8787 0.0426 272.2767);
    --muted: oklch(0.2973 0.0294 276.2144);
    --muted-foreground: oklch(0.7510 0.0396 273.9320);
    --accent: oklch(0.8467 0.0833 210.2545);
    --accent-foreground: oklch(0.2429 0.0304 283.9110);
    --destructive: oklch(0.7556 0.1297 2.7642);
    --border: oklch(0.3240 0.0319 281.9784);
    --input: oklch(0.3240 0.0319 281.9784);
    --ring: oklch(0.7871 0.1187 304.7693);
    --chart-1: oklch(0.7871 0.1187 304.7693);
    --chart-2: oklch(0.8467 0.0833 210.2545);
    --chart-3: oklch(0.8577 0.1092 142.7153);
    --chart-4: oklch(0.8237 0.1015 52.6294);
    --chart-5: oklch(0.9226 0.0238 30.4919);
    --sidebar: oklch(0.1828 0.0204 284.2039);
    --sidebar-foreground: oklch(0.8787 0.0426 272.2767);
    --sidebar-primary: oklch(0.7871 0.1187 304.7693);
    --sidebar-primary-foreground: oklch(0.2429 0.0304 283.9110);
    --sidebar-accent: oklch(0.8467 0.0833 210.2545);
    --sidebar-accent-foreground: oklch(0.2429 0.0304 283.9110);
    --sidebar-border: oklch(0.4037 0.0320 280.1520);
    --sidebar-ring: oklch(0.7871 0.1187 304.7693);
    --radius: 0.35rem;
    --shadow-color: hsl(240 30% 25%);
    --shadow-opacity: 0.12;
    --shadow-blur: 6px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --spacing: 0.25rem
  }