  [data-theme="catppuccin-light"] {
    --background: oklch(0.9578 0.0058 264.5321);
    --foreground: oklch(0.4355 0.0430 279.3250);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.4355 0.0430 279.3250);
    --popover: oklch(0.8575 0.0145 268.4756);
    --popover-foreground: oklch(0.4355 0.0430 279.3250);
    --primary: oklch(0.5547 0.2503 297.0156);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.8575 0.0145 268.4756);
    --secondary-foreground: oklch(0.4355 0.0430 279.3250);
    --muted: oklch(0.9060 0.0117 264.5071);
    --muted-foreground: oklch(0.5471 0.0343 279.0837);
    --accent: oklch(0.6820 0.1448 235.3822);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.5505 0.2155 19.8095);
    --border: oklch(0.8083 0.0174 271.1982);
    --input: oklch(0.8575 0.0145 268.4756);
    --ring: oklch(0.5547 0.2503 297.0156);
    --chart-1: oklch(0.5547 0.2503 297.0156);
    --chart-2: oklch(0.6820 0.1448 235.3822);
    --chart-3: oklch(0.6250 0.1772 140.4448);
    --chart-4: oklch(0.6920 0.2041 42.4293);
    --chart-5: oklch(0.7141 0.1045 33.0967);
    --sidebar: oklch(0.9335 0.0087 264.5206);
    --sidebar-foreground: oklch(0.4355 0.0430 279.3250);
    --sidebar-primary: oklch(0.5547 0.2503 297.0156);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.6820 0.1448 235.3822);
    --sidebar-accent-foreground: oklch(1.0000 0 0);
    --sidebar-border: oklch(0.8083 0.0174 271.1982);
    --sidebar-ring: oklch(0.5547 0.2503 297.0156);
    --radius: 0.35rem;
    --shadow-color: hsl(240 30% 25%);
    --shadow-opacity: 0.12;
    --shadow-blur: 6px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --spacing: 0.25rem
  }