[data-theme="test"] {
    --background: #fffffe;
    --foreground: #e9e9ef;
    --card: #535384;
    --card-foreground: #e9e9ef;
    --popover: #4a2c05;
    --popover-foreground: #f0f0f0;
    --primary: #7c3aed;
    --primary-foreground: #f0f0f0;
    --secondary: #9ca3af;
    --secondary-foreground: #1f2937;
    --muted: #9ca3af;
    --muted-foreground: #6b7280;
    --accent: #8b5cf6;
    --accent-foreground: #f0f0f0;
    --destructive: #ef4444;
    --border: #6b7280;
    --input: #6b7280;
    --ring: #7c3aed;
    --chart-1: #7c3aed;
    --chart-2: #8b5cf6;
    --chart-3: #a78bfa;
    --chart-4: #c4b5fd;
    --chart-5: #eaccff;
    --radius: 1.1rem;
    --sidebar: #4a2c05;
    --sidebar-foreground: #f0f0f0;
    --sidebar-primary: #7c3aed;
    --sidebar-primary-foreground: #f0f0f0;
    --sidebar-accent: #8b5cf6;
    --sidebar-accent-foreground: #f0f0f0;
    --sidebar-border: #6b7280;
    --sidebar-ring: #7c3aed;
  }